.fade-leave-active {
  transition: all 0.3s;
}

.fade-enter-active {
  transition: all 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}